.interest {
  background-image: url("/interest.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.interestWrapper {
  display: grid;
  grid-template-columns: 50% 40%;
  gap: 10%;
  padding: 0 4rem;
}

.interestLogo {
  width: 200px;
  margin-bottom: 12rem;
  margin-top: 2rem;
}

.interestContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.interestContent h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  color: #fff;
}

.interestContent p {
  font-size: 1.1rem;
  color: #fff;
}

.interestIcons {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  gap: 0.5rem;
}

/* ===============================  MEDIA QUERY (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1024px) {
  .interestWrapper {
    display: grid;
    grid-template-columns: 50% 50%;

    gap: 0.5rem;
    padding: 0rem;
  }

  .interestLogo {
    width: 150px;
  }

  .interestContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 1rem;
    margin-left: 2rem;
  }
  .interestContent h1 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #fff;
  }

  .interestContent p {
    font-size: 1rem;
    color: #fff;
  }

  .interestIcons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 0.5rem;
  }
}

/* ===============================  MEDIA QUERY (SMALL DEVICES) ========================== */
@media screen and (max-width: 600px) {
  .interestWrapper {
    display: grid;

    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0rem;
  }

  .interestLogo {
    width: 150px;
  }

  .interestContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    display: none;
  }
  .interestContent h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
  }

  .interestContent p {
    font-size: 1rem;
    color: #fff;
  }

  .interestIcons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 0.5rem;
  }

  .interest {
    background-image: none;
  }

  .formBackground {
    background-image: url("/right-panel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5rem;
  }
}
