.survey {
  background-image: url("/interest.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.surveyWrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1.5rem;
  padding: 0 4rem;
  grid-template-columns: 50% 40%;
  gap: 10%;
  padding: 0 4rem;
}

.surveyLogo {
  width: 200px;
  margin-right: -1rem;
  margin-bottom: 12rem;
  margin-top: 2rem;
}

.surveyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.surveyContent h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  color: #fff;
}

.surveyContent p {
  font-size: 1.1rem;
  color: #fff;
}

.surveyIcons {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  gap: 0.5rem;
}

/* ===============================  MEDIA QUERY (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1024px) {
  .surveyWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.5rem;
    padding: 0rem;
  }

  .surveyLogo {
    width: 150px;
  }

  .surveyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    margin-left: 2rem;
  }
  .surveyContent h1 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #fff;
  }

  .surveyContent p {
    font-size: 1rem;
    color: #fff;
  }

  .surveyIcons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 0.5rem;
  }
}

/* ===============================  MEDIA QUERY (SMALL DEVICES) ========================== */
@media screen and (max-width: 600px) {
  .surveyWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0rem;
  }

  .surveyLogo {
    width: 150px;
  }

  .surveyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    display: none;
  }
  .surveyContent h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
  }

  .surveyContent p {
    font-size: 1rem;
    color: #fff;
  }

  .surveyIcons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 0.5rem;
  }

  .survey {
    background-image: none;
  }

  .formBackground {
    background-image: url("/right-panel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5rem;
  }
}
