.reg {
  background-image: url("/register.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.regWrapper {
  display: grid;
  grid-template-columns: 40% 70%;
  gap: 1.5rem;
  padding: 0 6rem;
}

.regLogo {
  width: 200px;
  margin-left: -1rem;
}

.regContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.regContent h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
  color: #fff;
}

.regContent p {
  font-size: 1.1rem;
  color: #fff;
}

.regIcons {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .regWrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
  }

  .regContent h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .regContent p {
    font-size: 1rem;
  }

  .regIcons {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .regWrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0rem;
  }

  .regLogo {
    width: 150px;
  }

  .regContent {
    padding: 1rem;
    display: none;
  }

  .reg {
    background-image: none;
  }

  .formBackground {
    background-image: url("/right-panel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5rem;
  }
}
